force-app/main/default/flows/WSM_ALF_Folders_Build_Folder_Structure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Template_Folders_to_Coll</name>
        <label>Add Template Folders to Coll</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Working_Template_Folders_Coll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Template_Folders_for_INC_Set</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_template_folders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Add to Coll</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Folders_TBU_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_Created_Folders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Folder_Var_to_Update</name>
        <label>Build Folder Var to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Through_Created_Folders.Parent_Folder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Filter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_folders1</name>
        <label>build folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>folderSingle_var.Template_Folder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_template_folders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>folderSingle_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_template_folders.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>folderSingle_var.Parent_Template_Folder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_template_folders.Parent_Template_Folder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>folderSingle_var.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INC_Obj_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_add_to_folder_create_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_root_folder</name>
        <label>Build root folder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rootFolderSingle_var.Parent_Template_Folder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Root</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rootFolderSingle_var.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INC_Obj_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rootFolderSingle_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>INC_Root_Folder_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rootFolderSingle_var.Parent_Folder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_obj_parent_folder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rootFolderSingle_var.Template_Folder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>through_template_folders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_add_to_folder_create_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_add_to_folder_create_collection</name>
        <label>Copy 1 of add to folder create collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foldercreatecollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>folderSingle_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_template_folders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_add_to_folder_create_collection</name>
        <label>Copy 2 of add to folder create collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foldercreatecollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rootFolderSingle_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>through_template_folders</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Created_Folders</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Created Folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Created_Folders</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>foldercreatecollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Created_Folders.Template_Folder_Id__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Through_Created_Folders.Parent_Template_Folder_Id__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Anything_in_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Anything_in_Filter</name>
        <label>Anything in Filter?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Through_Created_Folders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Something_in_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Created_Folders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Through_Filter</targetReference>
            </connector>
            <label>Yes, Something in Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Template_Folders</name>
        <label>Found Template Folders?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Template_Folders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Template_Folders_for_INC_Set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_incoming_object_parent_id</targetReference>
            </connector>
            <label>Yes, Found Template Folders</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_incoming_object_parent_id</name>
        <label>is incoming object parent id?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Template_Folders_to_Coll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_is_incoming_object_parent_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INC_Obj_Parent_ID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Folder_Template_Set.Parent_Template_Folder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_obj_parent_folder</targetReference>
            </connector>
            <label>yes, is incoming object parent id</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_root_folder</name>
        <label>is root folder?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>build_folders1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_is_root_folder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>through_template_folders.Parent_Template_Folder__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_root_folder</targetReference>
            </connector>
            <label>yes, is root folder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WSM - ALF - Folders: Build Folder Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WSM - ALF - Folders: Build Folder Structure</label>
    <loops>
        <name>Through_Created_Folders</name>
        <label>Through Created Folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>foldercreatecollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Created_Folders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Folders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Filter</name>
        <label>Through Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Created_Folders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Folder_Var_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Through_Created_Folders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>through_template_folders</name>
        <label>through template folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Template_Folders_for_INC_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_root_folder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Folders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Folders</name>
        <label>Create Folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Through_Created_Folders</targetReference>
        </connector>
        <inputReference>foldercreatecollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Folder_Template_Set</name>
        <label>Get Folder Template Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Template_Folders_for_INC_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Folder_Template_Set_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Folder_Template_Set__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_obj_parent_folder</name>
        <label>get obj parent folder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Template_Folders_to_Coll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Obj_Parent_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Template_Folder_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Folder_Template_Set.Parent_Template_Folder__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Folder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Folders_for_INC_Set</name>
        <label>Get Template Folders for INC Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Template_Folders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Folder_Template_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INC_Folder_Template_Set_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Folder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Folders</name>
        <label>Update Folders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Folders_TBU_Coll</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Folder_Template_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Created_Folders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>foldercreatecollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>Folders_TBC_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>Folders_TBU_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>folderSingle_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>INC_Folder_Template_Set_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INC_Obj_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INC_Obj_Parent_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>INC_Root_Folder_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rootFolderSingle_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Folder__c</objectType>
    </variables>
    <variables>
        <name>Working_Template_Folders_Coll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Template_Folder__c</objectType>
    </variables>
</Flow>
